body {
	margin: 0;
	font-family: serif;
	line-height: 1.3em;
	background: url("Files/background.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}